*.local
*.log
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.vercel
.vite
dist
dist-ssr
node_modules
node_modules/

# temporales del prerender
.vite-react-ssg-temp
_dist_previo
tsconfig.tsbuildinfo
vite.config.ts.timestamp-*
